In [ ]:
# Python 3.4

In [2]:
%pylab inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [13]:
listlat = 37.885279, 37.859551, 37.85789, 37.850825, 37.846619, 37.843327, 37.838258, 37.837722, 37.837574
listlong = -122.273261, -122.256716, -122.256835, -122.25102, -122.279768, -122.287563, -122.268621, -122.263093, -122.262793

latlong = np.array([listlat, listlong]).T
print(latlong)

data = pd.DataFrame(data = latlong, columns = ('lat', 'long'))
data

[[  37.885279 -122.273261]
 [  37.859551 -122.256716]
 [  37.85789  -122.256835]
 [  37.850825 -122.25102 ]
 [  37.846619 -122.279768]
 [  37.843327 -122.287563]
 [  37.838258 -122.268621]
 [  37.837722 -122.263093]
 [  37.837574 -122.262793]]

         lat        long
0  37.885279 -122.273261
1  37.859551 -122.256716
2  37.857890 -122.256835
3  37.850825 -122.251020
4  37.846619 -122.279768
5  37.843327 -122.287563
6  37.838258 -122.268621
7  37.837722 -122.263093
8  37.837574 -122.262793

In [14]:
data.lat

0    37.885279
1    37.859551
2    37.857890
3    37.850825
4    37.846619
5    37.843327
6    37.838258
7    37.837722
8    37.837574
Name: lat, dtype: float64

In [15]:
data.lat[0:5]

0    37.885279
1    37.859551
2    37.857890
3    37.850825
4    37.846619
Name: lat, dtype: float64

In [19]:
data.iloc[0:5]

         lat        long
0  37.885279 -122.273261
1  37.859551 -122.256716
2  37.857890 -122.256835
3  37.850825 -122.251020
4  37.846619 -122.279768

In [ ]:
function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}

In [ ]:
html_str = """
<table border=1>
     <tr>
       <th>Number</th>
       <th>Square</th>
     </tr>
     <indent>
     <% for i in range(10): %>
       <tr>
         <td><%= i %></td>
         <td><%= i**2 %></td>
       </tr>
     </indent>
</table>

function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}

"""

Html_file= open("filename","w")
Html_file.write(html_str)
Html_file.close()