In [1]:
# Python 3.4

In [2]:
%pylab inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [3]:
listlat = 37.885279, 37.859551, 37.85789, 37.850825, 37.846619, 37.843327, 37.838258, 37.837722, 37.837574
listlong = -122.273261, -122.256716, -122.256835, -122.25102, -122.279768, -122.287563, -122.268621, -122.263093, -122.262793

latlong = np.array([listlat, listlong]).T
print(latlong)

data = pd.DataFrame(data = latlong, columns = ('lat', 'long'))
data

[[  37.885279 -122.273261]
 [  37.859551 -122.256716]
 [  37.85789  -122.256835]
 [  37.850825 -122.25102 ]
 [  37.846619 -122.279768]
 [  37.843327 -122.287563]
 [  37.838258 -122.268621]
 [  37.837722 -122.263093]
 [  37.837574 -122.262793]]

         lat        long
0  37.885279 -122.273261
1  37.859551 -122.256716
2  37.857890 -122.256835
3  37.850825 -122.251020
4  37.846619 -122.279768
5  37.843327 -122.287563
6  37.838258 -122.268621
7  37.837722 -122.263093
8  37.837574 -122.262793

In [4]:
data.lat

0    37.885279
1    37.859551
2    37.857890
3    37.850825
4    37.846619
5    37.843327
6    37.838258
7    37.837722
8    37.837574
Name: lat, dtype: float64

In [5]:
data.lat[0:5]

0    37.885279
1    37.859551
2    37.857890
3    37.850825
4    37.846619
Name: lat, dtype: float64

In [6]:
data.iloc[0:5]

         lat        long
0  37.885279 -122.273261
1  37.859551 -122.256716
2  37.857890 -122.256835
3  37.850825 -122.251020
4  37.846619 -122.279768

In [6]:
# Read nogit file for api key
API_file = open("google_api_key.nogit","r")
key = API_file.read()
API_KEY_LINE = "        src=\"https://maps.googleapis.com/maps/api/js?key=" + key + "&signed_in=true&callback=initMap\"></script>\n"

'        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdjCbWL_7rZzwNlwx5EpGpTRwZgFwov7c\n&signed_in=true&callback=initMap"></script>\n'

In [7]:
file = open("main.html", "w")

# write the header info
file.write("<!DOCTYPE html>\n")
file.write("<html>\n")
file.write("  <head>\n")
file.write("     <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n")
file.write("     <meta charset=\"utf-8\">\n")
file.write("     <title>Simple icons</title>\n")
file.write("     <style>\n")
file.write("       html, body {\n")
file.write("         height: 100%;\n")
file.write("         margin: 0;\n")
file.write("         padding: 0;\n")
file.write("       }\n")
file.write("       \map {\n")
file.write("         height: 100%;\n")
file.write("       }\n")
file.write("     </style>\n")
file.write("   </head>\n")
file.write("   <body>\n")
file.write("     <div id=\"map\"></div>\n")
file.write("     <script>\n")

# write the content
file.write("\n\n\n")


# write the footer
file.write("    </script>\n")
file.write("    <script async defer\n")
file.write(API_KEY_LINE)
file.write("  </body>\n")
file.write("</html>")

# close the file
file.close()

In [ ]:
function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}